// WhatsAppIcon.module.scss

.whatsappIcon {
  position: absolute;
  bottom: .5rem;
  right: .5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 1rem;
  background-color: rgba(26, 19, 31, 0.62);
  cursor: pointer;
  transition: transform .2s ease-in-out;

  &:hover {
    background-color: rgba(6, 4, 7, 0.62);
  }

  &:active{
    transform: scale(0.95);
  }

  @media only screen and (max-width: 600px) {
    width: 40px;
    height: 40px;
  }

  img {
    width: 30px;
    height: 30px;
  }
}
